@charset "UTF-8";
@keyframes logo {
  0% {
    height: 100%;
    opacity: 0;
  }
  100% {
    height: 40%;
    opacity: 1;
  }
}
@keyframes cursor {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tremors {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(2deg);
  }
  20% {
    transform: rotate(0);
  }
  30% {
    transform: rotate(-2deg);
  }
  40% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(2deg);
  }
  60% {
    transform: rotate(0);
  }
  70% {
    transform: rotate(-2deg);
  }
  80% {
    transform: rotate(0);
  }
  90% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes reveal-h1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes reveal-menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slider {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
@keyframes gauge-html {
  to {
    stroke-dashoffset: 300;
  }
}
@keyframes gauge-css {
  to {
    stroke-dashoffset: 400;
  }
}
@keyframes gauge-js {
  to {
    stroke-dashoffset: 500;
  }
}
@keyframes progress-bar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.header {
  position: relative;
  color: #ff7f00;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Press Start 2P", cursive;
  padding: 1rem;
  height: 100vh;
  overflow: hidden;
  animation: storm 20s infinite;
}
.header .thunder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.header_img {
  animation: logo 2500ms ease-in-out forwards;
}
.header_img img {
  height: 100%;
  object-fit: cover;
}
.header_title {
  text-align: center;
  height: 25%;
}
.header_title h1 {
  opacity: 0;
  animation: reveal-h1 1500ms 2500ms forwards;
}
@media screen and (max-height: 480px) {
  .header_title h1 {
    font-size: 1.5rem;
  }
}
.header_title span {
  position: relative;
}
.header_title span::after {
  content: "";
  display: block;
  position: absolute;
  right: -2px;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: #ff7f00;
  animation: cursor 1s infinite;
}
.header_nav {
  height: 25%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: flex-start;
}
.header_nav strong {
  opacity: 0;
  animation: reveal-menu 2s 5000ms forwards;
}
.header_nav_items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  opacity: 0;
  animation: reveal-menu 2s 5000ms forwards;
}
.header_nav_items a {
  color: #ff7f00;
}
@media screen and (max-height: 480px) {
  .header_nav {
    font-size: 0.8rem;
  }
}

.fixed-navbar {
  font-family: "Press Start 2P", cursive;
  z-index: 1;
  background-image: rgba(48, 48, 48, 0.9);
  display: flex;
  justify-content: space-between;
  padding: 5px 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.5s;
  transform: translateY(-1000px);
}
.fixed-navbar h2 {
  font-size: 0.7rem;
}
.fixed-navbar--active {
  transform: translateY(0);
}
.fixed-navbar_items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.7rem;
  gap: 1.5rem;
}
.fixed-navbar a {
  color: #ff7f00;
}
@media screen and (max-width: 400px) {
  .fixed-navbar a {
    font-size: 0.5rem;
  }
}
.fixed-navbar img {
  width: 50px;
}
@media screen and (max-width: 400px) {
  .fixed-navbar img {
    display: none;
  }
}

.thunder,
canvas {
  width: 100%;
  height: 100%;
}

.thunder {
  width: 100%;
  height: 100%;
  background-color: #222;
  background-image: url("https://drive.google.com/uc?export=view&id=0BzFF7FmbJUo5X0NEUXFVd0NBcWc");
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}
.thunder:after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
  animation: thunder-bg 6s infinite;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

#canvas3 {
  z-index: 5;
}

#canvas2 {
  z-index: 10;
}

#canvas1 {
  z-index: 100;
}

@keyframes thunder-bg {
  0% {
    background-color: rgba(34, 34, 34, 0.9);
  }
  9% {
    background-color: rgba(34, 34, 34, 0.9);
  }
  10% {
    background-color: rgba(59, 59, 59, 0.3);
  }
  10.5% {
    background-color: rgba(34, 34, 34, 0.9);
  }
  80% {
    background-color: rgba(34, 34, 34, 0.9);
  }
  82% {
    background-color: rgba(59, 59, 59, 0.3);
  }
  83% {
    background-color: rgba(34, 34, 34, 0.9);
  }
  83.5% {
    background-color: rgba(59, 59, 59, 0.3);
  }
  100% {
    background-color: rgba(34, 34, 34, 0.9);
  }
}

html,
body {
  background-color: #303030;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Inconsolata", monospace;
}

a {
  text-decoration: none;
  transition: 200ms;
  cursor: pointer;
}

nav a:hover {
  animation: tremors 500ms ease;
}

ul {
  list-style-type: none;
  list-style-position: outside;
}

main {
  display: flex;
  flex-direction: column;
}
main section {
  padding: 3rem 1.5rem;
}

.section-content {
  margin-left: 50px;
}
@media screen and (max-width: 500px) {
  .section-content {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*
----- citations -----
*/
.quotes {
  color: #f2f2f2;
  position: relative;
  padding: 0;
  overflow: hidden;
}
.quotes .diaporama {
  width: 500%;
  height: 500px;
  position: relative;
  margin: 0;
  left: 0;
  display: flex;
  overflow: hidden;
  animation: 30s slider infinite;
}
.quotes .diaporama .quote {
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 2px white;
  width: 20%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.quotes .diaporama .quote--1 {
  background-image: url(/images/error.jpg);
}
.quotes .diaporama .quote--2 {
  background-image: url(/images/joker.jpg);
}
.quotes .diaporama .quote--3 {
  background-image: url(/images/cathedrale.jpg);
}
.quotes .diaporama .quote--4 {
  background-image: url(/images/pieton.jpg);
}
.quotes .diaporama .quote blockquote {
  width: 65%;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}
.quotes .diaporama .quote blockquote p {
  align-self: flex-end;
  font-size: 1rem;
}

/* fin de section */
/*
----- a propos -----
*/
.about {
  background-color: ghostwhite;
  color: #303030;
  display: flex;
  gap: 3rem;
  position: relative;
}
.about_title {
  width: 50px;
  position: absolute;
  left: 5px;
  top: 50px;
  bottom: 50px;
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-right: 1px solid #303030;
}
.about_title h2 {
  text-shadow: black 0.1em 0.1em 0.2em;
  color: #303030;
}
@media screen and (max-width: 500px) {
  .about_title {
    top: 10px;
    left: 50px;
    right: 50px;
    height: 40px;
    width: auto;
    writing-mode: horizontal-tb;
    border-right: none;
    border-bottom: 1px solid #303030;
  }
  .about_title h2 {
    font-size: 0.9rem;
  }
}
.about_content {
  font-size: 1.5rem;
  text-align: justify;
}
.about_content img {
  width: 250px;
  float: left;
  margin: 0.5rem;
}
@media screen and (max-width: 410px) {
  .about_content img {
    float: center;
  }
}

/* fin de section */
/*
----- compétences -----
*/
.skills {
  position: relative;
  color: ghostwhite;
  background-image: url(/images/background-achievements.jpg), rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: multiply;
}
.skills h3 {
  border-bottom: 1px solid ghostwhite;
  border-top: 1px solid ghostwhite;
  padding: 1rem;
  width: 80%;
  text-align: center;
}
.skills_title {
  width: 50px;
  position: absolute;
  left: 5px;
  top: 50px;
  bottom: 50px;
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-right: 1px solid ghostwhite;
}
.skills_title h2 {
  text-shadow: black 0.1em 0.1em 0.2em;
  color: ghostwhite;
}
@media screen and (max-width: 500px) {
  .skills_title {
    top: 10px;
    left: 50px;
    right: 50px;
    height: 40px;
    width: auto;
    writing-mode: horizontal-tb;
    border-right: none;
    border-bottom: 1px solid ghostwhite;
  }
  .skills_title h2 {
    font-size: 0.9rem;
  }
}
.skills_list {
  opacity: 0.9;
  gap: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 780px) {
  .skills_list {
    gap: 5rem;
  }
}
.skills_list .item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.skills_list_header .box {
  position: relative;
  height: 210px;
  width: 210px;
  display: block;
  text-align: center;
}
.skills_list_header .box svg {
  height: 210px;
  width: 210px;
  border-radius: 50%;
}
.skills_list_header .box svg circle {
  fill: none;
  stroke: #ff7f00;
  stroke-width: 11px;
  transform: translate(5px, 5px);
  stroke-linecap: round;
  stroke-dashoffset: 820;
  stroke-dasharray: 820;
}
.skills_list_header .box svg .gauge {
  stroke-dashoffset: 0;
  stroke: ghostwhite;
}
.skills_list_header .box svg .html-active {
  animation: gauge-html 2s forwards;
}
.skills_list_header .box svg .css-active {
  animation: gauge-css 2s forwards;
}
.skills_list_header .box svg .js-active {
  animation: gauge-js 2s forwards;
}
.skills_list_header .box span {
  font-size: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.skills_list_hard .line-skill {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.skills_list_hard .line-skill_title {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 110px;
}
.skills_list_hard .line-skill_title img {
  width: 60px;
}
.skills_list_hard .line-skill .progress-bar {
  min-width: 200px;
  height: 0.5rem;
  background-color: #f2f2f2;
  overflow: hidden;
  position: relative;
  align-self: center;
}
@media screen and (max-width: 920px) {
  .skills_list_hard .line-skill .progress-bar {
    width: 100%;
  }
}
.skills_list_hard .line-skill .progress-bar_background {
  position: absolute;
  top: 0;
  left: 0;
  height: 0.5rem;
  background-color: #ff7f00;
  transform: translateX(-100%);
}
.skills_list_hard .line-skill .progress-bar .bar-active {
  animation: progress-bar 1500ms ease forwards;
}
.skills_list_soft {
  display: flex;
  background-color: #303030;
  border-radius: 10px;
  padding: 0 5rem;
  box-shadow: gray 0 0 10px;
}
@media screen and (max-width: 410px) {
  .skills_list_soft {
    padding: 0 1rem;
  }
}
.skills_list_soft p {
  margin-top: -30px;
  text-align: center;
}

/* fin de section */
.achievements {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #303030;
}
.achievements_title {
  width: 50px;
  position: absolute;
  left: 5px;
  top: 50px;
  bottom: 50px;
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-right: 1px solid ghostwhite;
}
.achievements_title h2 {
  text-shadow: black 0.1em 0.1em 0.2em;
  color: ghostwhite;
}
@media screen and (max-width: 500px) {
  .achievements_title {
    top: 10px;
    left: 50px;
    right: 50px;
    height: 40px;
    width: auto;
    writing-mode: horizontal-tb;
    border-right: none;
    border-bottom: 1px solid ghostwhite;
  }
  .achievements_title h2 {
    font-size: 0.9rem;
  }
}
.achievements_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  gap: 2rem;
}
.achievements .card {
  width: 350px;
  height: 600px;
  position: relative;
  transform-style: preserve-3d;
  border-radius: 10px;
  box-shadow: 0 0 20px black;
  transition: 600ms ease;
  cursor: pointer;
}
.achievements .card--active {
  transform: rotateY(180deg);
}
.achievements .card_top {
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: black 0.1em 0.1em 0.2em;
  border-radius: 10px 10px 0 0;
  height: 40px;
  position: absolute;
  top: 0;
  width: 100%;
  backface-visibility: hidden;
  color: ghostwhite;
  text-align: center;
}
.achievements .card_top--back {
  transform: rotateY(180deg);
}
.achievements .card_bottom {
  position: absolute;
  text-shadow: black 0.1em 0.1em 0.2em;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0 0 10px 10px;
  color: ghostwhite;
  backface-visibility: hidden;
}
.achievements .card_bottom--back {
  transform: rotateY(180deg);
}
.achievements .card_bottom a {
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.7rem;
  color: ghostwhite;
}
.achievements .card_bottom a p {
  font-size: 1rem;
  margin-left: 5px;
}
.achievements .card_bottom a:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3) inset;
  color: #ff7f00;
}
.achievements .card_bottom a:first-child {
  border-radius: 0 0 0 10px;
  border-right: 1px solid gray;
}
.achievements .card_bottom a:last-child {
  border-radius: 0 0 10px 0;
  border-left: 1px solid gray;
}
.achievements .card_content {
  backface-visibility: hidden;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 60px;
}
.achievements .card_content--front img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.achievements .card_content--hidden {
  transition: 600ms ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: rgba(48, 48, 48, 0.8);
  color: ghostwhite;
  padding: 0.5rem;
  text-shadow: black 0.1em 0.1em 0.2em;
  text-align: justify;
  opacity: 0;
}
.achievements .card_content--hidden:hover {
  opacity: 1;
}
.achievements .card_content--hidden h3,
.achievements .card_content--hidden h4 {
  text-align: center;
}
.achievements .card_content--hidden .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.achievements .card_content--hidden .icons img {
  height: 3rem;
  width: auto;
}
.achievements .card_content--back {
  transform: rotateY(180deg);
  padding: 0.5rem 1rem;
  text-shadow: black 0.1em 0.1em 0.2em;
  background-image: url(/images/logo2.png), rgba(3, 34, 76, 0.5);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-blend-mode: multiply;
  color: ghostwhite;
}
.achievements .card_content--back a {
  color: #ff7f00;
}
.achievements .card_content--back a:hover {
  text-decoration: underline;
}

.cv {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: ghostwhite;
}
.cv_title {
  width: 50px;
  position: absolute;
  left: 5px;
  top: 50px;
  bottom: 50px;
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-right: 1px solid #303030;
}
.cv_title h2 {
  text-shadow: black 0.1em 0.1em 0.2em;
  color: #303030;
}
@media screen and (max-width: 500px) {
  .cv_title {
    top: 10px;
    left: 50px;
    right: 50px;
    height: 40px;
    width: auto;
    writing-mode: horizontal-tb;
    border-right: none;
    border-bottom: 1px solid #303030;
  }
  .cv_title h2 {
    font-size: 0.9rem;
  }
}
.cv img {
  box-shadow: black 0.1em 0.1em 0.2em;
  width: 100%;
  object-fit: cover;
}
.cv_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.cv_content a {
  font-size: 1.2rem;
  cursor: pointer;
  width: fit-content;
  color: ghostwhite;
  background-color: #303030;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  transition: 500ms ease;
}
.cv_content a:hover {
  color: #ff7f00;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3) inset;
}

footer {
  background-color: #303030;
  display: flex;
  align-items: center;
  padding: 1rem;
  color: ghostwhite;
}
@media screen and (min-width: 546px) {
  footer {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 340px) {
  footer {
    font-size: 0.8rem;
  }
  footer ul {
    margin-left: -2rem;
  }
  footer i {
    font-size: 1.1rem;
  }
}
footer a {
  color: ghostwhite;
  transition: 500ms ease;
}
footer a:hover {
  color: #ff7f00;
}
footer img {
  height: 100px;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
