@mixin section-title ($border-color) {
  width: 50px;
  position: absolute;
  left: 5px;
  top: 50px;
  bottom: 50px;
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-right: 1px solid $border-color;
  @media screen and (max-width: 410px) {
    top: 10px;
    left: 50px;
    right: 50px;
    height: 40px;
    width: auto;
    writing-mode: horizontal-tb;
    border-right: none;
    border-bottom: 1px solid $border-color;
    h2 {
      font-size: 0.9rem;
    }
  }
}

@mixin typo-primary {
  font-family: "Press Start 2P", cursive;
}

@mixin typo-secondary {
  font-family: 'Architects Daughter', cursive;
}

@mixin typo-tertiary {
  font-family:'Gloria Hallelujah', cursive;
}
