/*
----- citations -----
*/
.quotes {
  color: #f2f2f2;
  position: relative;
  padding: 0;
  overflow: hidden;
  .diaporama {
    width: 500%;
    height: 500px;
    position: relative;
    margin: 0;
    left: 0;
    display: flex;
    overflow: hidden;
    animation: 30s slider infinite;
    .quote {
      display: flex;
      justify-content: center;
      align-items: center;
      text-shadow: 0 0 2px white;
      width: 20%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      overflow: hidden;
      h2 {
        font-family: "Times New Roman", Times, serif;
      }
      &--1 {
        background-image: url("/images/error.jpg");
      }
      &--2 {
        background-image: url("/images/joker.jpg");
      }
      &--3 {
        background-image: url("/images/cathedrale.jpg");
      }
      &--4 {
        background-image: url("/images/pieton.jpg");
      }
      blockquote {
        width: 65%;
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        p {
          align-self: flex-end;
          font-size: 1rem;
        }
      }
    }
  }
}
/* fin de section */

/*
----- a propos -----
*/
.about {
  background-color: $color-tertiary;
  color: $color-secondary;
  display: flex;
  gap: 3rem;
  position: relative;
  &_title {
    @include section-title($color-secondary);
  }
  &_content {
    font-size: 1.5rem;
    text-align: justify;
    img {
      width: 250px;
      float: left;
      margin: 0.5rem;
      @media screen and (max-width: 410px) {
        float: center;
      }
    }
  }
}
/* fin de section */

/*
----- compétences -----
*/
.skills {
  position: relative;
  color: $color-tertiary;
  &_title {
    @include section-title($color-tertiary);
  }
  &_list {
    gap: 10rem;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 780px) {
      gap: 5rem;
    }
    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 3rem;
    }
    &_header {
      .box {
        position: relative;
        height: 210px;
        width: 210px;
        display: block;
        text-align: center;
        svg {
          height: 210px;
          width: 210px;
          border-radius: 50%;
          circle {
            fill: none;
            stroke: $color-primary;
            stroke-width: 11px;
            transform: translate(5px, 5px);
            stroke-linecap: round;
            stroke-dashoffset: 820;
            stroke-dasharray: 820;
          }
          .gauge {
            stroke-dashoffset: 0;
            stroke: $color-tertiary;
          }
          .html-active {
            animation: gauge-html 2s forwards;
          }
          .css-active {
            animation: gauge-css 2s forwards;
          }
          .js-active {
            animation: gauge-js 2s forwards;
          }
        }
        span {
          font-size: 5rem;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    &_hard {
      .line-skill {
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;
        &_title {
          display: flex;
          flex-direction: column;
          text-align: center;
          width: 110px;
          img {
            width: 60px;
          }
        }
        .progress-bar {
          min-width: 200px;
          height: 0.5rem;
          background-color: #f2f2f2;
          overflow: hidden;
          position: relative;
          align-self: center;
          @media screen and (max-width: 920px) {
            width: 100%;
          }
          &_background {
            position: absolute;
            top: 0;
            left: 0;
            height: 0.5rem;
            background-color: $color-primary;
            transform: translateX(-100%);
          }
          .bar-active {
            animation: progress-bar 1500ms ease forwards;
          }
        }
      }
    }
    &_soft {
      .disk {
        display: block;
        width: 250px;
        height: 265px;
        background: url("/images/disk.png");
        background-size: contain;
        background-repeat: no-repeat;
        &_caption {
          margin-left: 50%;
          margin-top: 50%;
          transform: translateX(-50%);
        }
        p {
          @include typo-tertiary;
          color: black;
          font-size: 1.3rem;
          font-weight: bold;
          line-height: 1.4rem;
        }
      }
    }
  }
}
/* fin de section */

.achievements {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: $color-tertiary;
  // height: 500px;
  &_title {
    @include section-title(#303030);
  }
  &_content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: #303030 1px solid;
    padding: 1rem;
    border-radius: 10px;
  }

  // .cards_carousel {
  //   display: flex;
  //   flex-direction: column;
  //   gap: 3rem;
  //   perspective: 1000px;
  // }

  .card {
    color: $color-tertiary;
    // perspective: 2000px;
    transform-style: preserve-3d;
    width: 700px;
    height: 400px;
    // position: absolute;
    position: relative;
    border: 1px solid $color-tertiary;
    border-radius: 10px;
    transition: 600ms ease;
    background-color: rgba($color: #303030, $alpha: 0.9);
    &--active {
      transform: rotateY(180deg);
    }
    &_face {
      border-radius: 10px;
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      // &--top {
      //   background-color: $color-primary;
      //   transform: rotateX(90deg);
      //   transform: translateZ(700px);
      //   width: 50px;
      // }
      // &--bottom {
      //   background-color: $color-primary;
      //   transform: rotateX(-90deg);;
      //   transform: translateZ(700px);
      //   width: 50px;
      // }
      // &--left {
      //   background-color: $color-primary;
      //   transform: rotateY(-90deg);;
      //   transform: translateZ(700px);
      //   width: 50px;
      // }
      // &--right {
      //   background-color: $color-primary;
      //   transform: rotateY(90deg);;
      //   transform: translateZ(700px);
      //   width: 50px;
      // }
      // face avant
      &--front {
        display: flex;
        flex-direction: column;
        &_header {
          text-align: center;
          padding: 0.5rem;
        }
        &_content {
          height: 61%;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            border-radius: 10px;
            width: 90%;
            height: 90%;
            object-fit: cover;
            box-shadow: 0 0 5px rgba($color: $color-tertiary, $alpha: 0.9);
          }
        }
        &_footer {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0.5rem;
          i {
            font-size: 1.5rem;
          }
          a,
          i {
            color: $color-tertiary;
            transition: 500ms ease;
            cursor: pointer;
            &:hover {
              color: $color-primary;
            }
          }
        }
      }
      // face arrière
      &--back {
        transform: rotateY(180deg);
        background-color: rgba($color: #303030, $alpha: 0.9);
        display: flex;
        flex-direction: column;
        a {
          color: $color-primary;
          font-weight: bold;
          transition: 500ms ease;
          &:hover {
            text-decoration: underline;
          }
        }
        &_header {
          text-align: center;
          border-bottom: 1px solid $color-tertiary;
          margin: 0 20px;
          padding: 0.5rem 0;
        }
        &_main {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          display: flex;
          width: 100%;
          div {
            width: 50%;
          }
          img {
            height: 3rem;
          }
          .icons {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 1rem;
          }
        }
        &_footer {
          text-align: center;
          font-size: 1.5rem;
          position: absolute;
          bottom: 10px;
          left: 50%;
          margin-right: auto;
          margin-left: auto;
          transition: 500ms ease;
          transform: translateX(-50%);
          cursor: pointer;
          &:hover {
            color: $color-primary;
          }
        }
      }
    }
  }
}

// carousel achievements
.carousel {
  // perspective: 1000px;
  width: 1420px;
  display: flex;
  overflow-x: scroll;
  padding: 20px 0;
  scroll-snap-type: x mandatory;
  &_item {
    width: 100%;
    height: 100%;
    flex: 1 0 450px;
    margin-left: 1rem;
    scroll-snap-align: start;
  }
}
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  height: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #303030;
  border-radius: 3px;
}
