html,
body {
  background-color: $color-secondary;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  font-family: cursive;
}

a {
  text-decoration: none;
  transition: 200ms;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    animation: tremors 500ms ease;
  }
}

ul {
  list-style-type: none;
  list-style-position: outside;
}

h1,
h2,
h3,
h4 {
  @include typo-primary;
}

main {
  display: flex;
  flex-direction: column;
  section {
    padding: $padding;
  }
}

.section-content {
  margin-left: 50px;
  @media screen and (max-width: 410px) {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
}
